[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple

User=appuser

WorkingDirectory=/opt/reddit

ExecStart=/opt/reddit/sbin/puma -b tcp://0.0.0.0:9292

Restart=always

[Install]
WantedBy=multi-user.target